<!-- pay-method-form.html -->
<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" th:href="@{/css/styles.css}"/>
<title th:text="#{'agregar.método'}">Agregar Método de Pago</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container my-4">
<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<div class="card-header bg-danger text-white text-center">
<h5 th:text="#{'agregar.método'}">Agregar Método de Pago</h5>
</div>
<div class="card-body">
<form method="post" th:action="@{/pay-methods}">
<input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
<div class="mb-3">
<label class="form-label" for="ownersName" th:text="#{'nombre.del.titular'}">Nombre del Titular:</label>
<input class="form-control" id="ownersName" name="ownersName" required="" type="text"/>
</div>
<div class="mb-3">
<label class="form-label" for="cardNumber" th:text="#{'número.de.tarjeta'}">Número de Tarjeta:</label>
<input class="form-control" id="cardNumber" name="cardNumber" required="" type="text"/>
</div>
<div class="mb-3">
<label class="form-label" for="cvv" th:text="#{'cvv'}">CVV:</label>
<input class="form-control" id="cvv" name="cvv" required="" type="text"/>
</div>
<div class="mb-3">
<label class="form-label" for="month" th:text="#{'mes.de.expiración'}">Mes de Expiración:</label>
<input class="form-control" id="month" name="month" required="" type="text"/>
</div>
<div class="mb-3">
<label class="form-label" for="year" th:text="#{'año.de.expiración'}">Año de Expiración:</label>
<input class="form-control" id="year" name="year" required="" type="text"/>
</div>
<div class="mb-3 text-center">
<button class="btn btn-success" th:text="#{'guardar'}" type="submit">Guardar</button>
<a class="btn btn-secondary" th:href="@{/pay-methods}" th:text="#{'cancelar'}">Cancelar</a>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
